@charset "UTF-8";
.contenedor_logo .logo {
  color: #17706e;
  position: absolute;
  top: 10px;
  left: 12px;
  transform: translate(2px, 1px);
  padding: 10px;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-decoration: none;
  box-shadow: 0 10px 50px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  font-size: 25px;
  font-weight: 800; }
  .contenedor_logo .logo:before {
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    bottom: 2px;
    width: 50%;
    background: rgba(255, 255, 255, 0.05); }
  .contenedor_logo .logo span:nth-child(1) {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(to right, #0c002b, #fff);
    animation: animate1 2s linear infinite; }

@keyframes animate1 {
  0% {
    transform: translateX(-100%); }
  100% {
    transform: translateX(100%); } }
  .contenedor_logo .logo span:nth-child(2) {
    position: absolute;
    top: 0;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(to bottom, #0c002b, #fff);
    animation: animate2 2s linear infinite;
    animation-delay: 1s; }

@keyframes animate2 {
  0% {
    transform: translateY(-100%); }
  100% {
    transform: translateY(100%); } }
  .contenedor_logo .logo span:nth-child(3) {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(to left, #0c002b, #fff);
    animation: animate3 2s linear infinite; }

@keyframes animate3 {
  0% {
    transform: translateX(100%); }
  100% {
    transform: translateX(-100%); } }
  .contenedor_logo .logo span:nth-child(4) {
    position: absolute;
    top: 0;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(to top, #0c002b, #fff);
    animation: animate4 2s linear infinite;
    animation-delay: 1s; }

@keyframes animate4 {
  0% {
    transform: translateY(100%); }
  100% {
    transform: translateY(-100%); } }

/* DISEÑO DE SANTA + MENSAJE */
.santa {
  background: #3ac6f4;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  position: relative;
  top: 50%;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: 0;
  margin-top: -60px; }
  .santa .nieve {
    width: 2px;
    height: 2px;
    background: white;
    border-radius: 50%;
    position: absolute;
    left: 18px;
    top: 44px; }
    .santa .nieve:after {
      width: 6px;
      height: 6px;
      content: "";
      display: inline-block;
      background: white;
      border-radius: 50%;
      position: absolute;
      top: -14px;
      left: 0px; }
    .santa .nieve:before {
      width: 4px;
      height: 4px;
      content: "";
      display: inline-block;
      background: white;
      border-radius: 50%;
      position: absolute;
      bottom: -12px;
      left: -11px; }
  .santa .sombrero {
    width: 64px;
    height: 31px;
    border-radius: 200px 200px 0 0;
    background: #ef4753;
    margin: 0 auto;
    top: -11px;
    position: relative;
    left: 5px;
    z-index: 20; }
    .santa .sombrero:after {
      width: 60px;
      height: 15px;
      border-radius: 20px;
      content: "";
      display: block;
      background: white;
      position: relative;
      top: 22px;
      left: -3px; }
  .santa .puntaSombrero {
    width: 13px;
    height: 32px;
    content: "";
    background: #ef4753;
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 15px;
    border-radius: 0px 11px 0px 0px; }
    .santa .puntaSombrero:after {
      width: 15px;
      height: 15px;
      border-radius: 50%;
      background: white;
      content: "";
      display: inline-block;
      top: 30px;
      position: absolute;
      left: 0px;
      z-index: 11; }
  .santa .cara {
    width: 54px;
    height: 57px;
    background: white;
    border-radius: 0px 0px 50px 50px;
    margin: 0 auto;
    position: relative;
    z-index: 20;
    top: -6px; }
    .santa .cara .ojos {
      background: #f1ddd5;
      width: 45px;
      height: 15px;
      margin: 0 auto;
      position: relative;
      left: -1px;
      text-align: center;
      top: 4px;
      padding-top: 0px; }
      .santa .cara .ojos:after, .santa .cara .ojos righteye {
        width: 8px;
        height: 6px;
        background: transparent;
        box-shadow: 0px -2px #793623;
        content: "";
        display: inline-block;
        margin: 0 auto;
        border-radius: 50%; }
      .santa .cara .ojos:before, .santa .cara .ojos lefteye {
        width: 8px;
        height: 6px;
        background: transparent;
        box-shadow: 0px -2px #793623;
        content: "";
        display: inline-block;
        margin: 0 auto;
        border-radius: 50%;
        margin-right: 5px; }
  .santa .boca {
    background: #a31f2b;
    border-radius: 50%;
    width: 6px;
    height: 6px;
    position: absolute;
    bottom: 20px;
    right: 17px; }
  .santa .cuerpo {
    width: 93px;
    height: 84px;
    background: #ef4753;
    border-radius: 90px 90px 0px 0px;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    margin: 0 auto;
    text-align: center;
    z-index: 10; }
    .santa .cuerpo:after {
      width: 5px;
      height: 5px;
      background: white;
      border-radius: 50%;
      display: inline-block;
      position: absolute;
      top: 68px;
      z-index: 50;
      content: "";
      left: 0;
      right: 0;
      margin: 0 auto; }
    .santa .cuerpo:before {
      width: 5px;
      height: 5px;
      background: white;
      border-radius: 50%;
      display: inline-block;
      position: absolute;
      top: 55px;
      z-index: 50;
      content: "";
      left: 0;
      right: 0;
      margin: 0 auto; }

.circulo {
  background: #a31f2b;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  z-index: 9;
  position: absolute;
  right: -6px;
  top: 12px; }
  .circulo:after {
    background: white;
    width: 40px;
    height: 40px;
    right: 0;
    top: 50px;
    content: "";
    border-radius: 50%; }

.desborde {
  overflow: hidden;
  width: 120px;
  height: 76px;
  border-radius: 0px 0px 105px 105px;
  position: absolute;
  left: 0;
  bottom: 0; }

.mensaje {
  width: 250px;
  font-size: 35px;
  margin-top: 30px;
  color: white;
  font-family: 'Mountains of Christmas'; }

.body__imagen {
  background: url(../img/cuerpoFondo3-min.png); }

/* TITULO */
.section__servicios {
  margin-top: 200px;
  margin-bottom: 270px;
  background: #fff;
  border-radius: 30px;
  padding: 20px; }
  .section__servicios h2 {
    height: 100px;
    font-family: "Merienda", cursive;
    text-align: center;
    margin-top: 25px; }
  .section__servicios .section__tabla {
    background: #F4623A;
    text-align: center; }
    .section__servicios .section__tabla td {
      list-style: inside; }

.body__imagen {
  background: url(../img/cuerpoFondo3-min.png); }

/* TITULO*/
.section__expensas {
  margin-top: 200px;
  margin-bottom: 60px;
  background: #fff;
  border-radius: 30px;
  padding: 20px; }
  .section__expensas h2 {
    height: 100px;
    font-family: "Merienda", cursive;
    text-align: center;
    margin-top: 25px; }
  .section__expensas .section__tabla {
    background: #F4623A;
    text-align: center; }
    .section__expensas .section__tabla td {
      list-style: inside; }
      .section__expensas .section__tabla td a {
        color: black; }
        .section__expensas .section__tabla td a:hover {
          color: #fff; }

/* Diseño de Tarjeta*/
.pago_todo {
  background: #fff;
  margin-top: 70px;
  margin-bottom: 60px;
  border-radius: 30px;
  padding: 20px; }
  .pago_todo .pago_cuerpo {
    padding-top: 15px;
    border-radius: 25px;
    border: 2px solid white;
    background: #F4623A;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around; }
    .pago_todo .pago_cuerpo .col1 .tarjeta {
      position: relative;
      width: 420px;
      height: 250px;
      margin-bottom: 85px;
      margin-right: 10px;
      border-radius: 17px;
      box-shadow: 0 5px 20px -5px rgba(0, 0, 0, 0.1); }
      .pago_todo .pago_cuerpo .col1 .tarjeta .frente {
        position: absolute;
        border-radius: 17px;
        border: 1px solid black;
        padding: 50px;
        width: 100%;
        height: 100%;
        background: goldenrod; }
        .pago_todo .pago_cuerpo .col1 .tarjeta .frente .tipo {
          position: absolute;
          width: 75px;
          height: 45px;
          top: 20px;
          right: 20px; }
          .pago_todo .pago_cuerpo .col1 .tarjeta .frente .tipo .molde {
            width: 200px;
            float: right; }
        .pago_todo .pago_cuerpo .col1 .tarjeta .frente .numero_tarjeta {
          position: absolute;
          font-size: 26px;
          font-weight: 500;
          letter-spacing: -1px;
          top: 110px;
          word-spacing: 3px; }
        .pago_todo .pago_cuerpo .col1 .tarjeta .frente .fecha {
          position: absolute;
          bottom: 40px;
          right: 55px;
          width: 90px;
          height: 35px; }
          .pago_todo .pago_cuerpo .col1 .tarjeta .frente .fecha .fecha_vence {
            font-size: 12px;
            position: absolute;
            margin-left: 22px;
            margin-top: 12px;
            font-weight: 500; }
          .pago_todo .pago_cuerpo .col1 .tarjeta .frente .fecha:after {
            content: "MES / AÑO";
            position: absolute;
            display: block;
            font-size: 7px;
            margin-left: 20px; }
          .pago_todo .pago_cuerpo .col1 .tarjeta .frente .fecha:before {
            content: "valid \a true";
            position: absolute;
            display: block;
            font-size: 8px;
            white-space: pre;
            margin-top: 8px; }
        .pago_todo .pago_cuerpo .col1 .tarjeta .frente .nombreCompleto {
          position: absolute;
          font-size: 20px;
          bottom: 40px; }
    .pago_todo .pago_cuerpo .col2 input {
      display: block;
      width: 250px;
      height: 30px;
      padding-left: 10px;
      padding-top: 3px;
      padding-bottom: 3px;
      margin: 7px;
      font-size: 17px;
      border-radius: 20px;
      background: rgba(0, 0, 0, 0.05);
      border: 1px solid black; }
      .pago_todo .pago_cuerpo .col2 input:focus {
        outline-width: 0;
        background: rgba(31, 134, 252, 0.15); }
    .pago_todo .pago_cuerpo .col2 label {
      font-family: "optima", sans-serif;
      padding-left: 8px;
      font-size: 15px;
      font-weight: bold;
      color: #444; }
    .pago_todo .pago_cuerpo .col2 .ccv {
      width: 40%; }
    .pago_todo .pago_cuerpo .col2 .pagar {
      width: 200px;
      height: 50px;
      position: relative;
      display: block;
      margin: 20px auto;
      border-radius: 10px;
      border: none;
      background: #42C2DF;
      color: white;
      font-size: 20px;
      cursor: pointer; }
      .pago_todo .pago_cuerpo .col2 .pagar:hover {
        background: #3594A9; }
      .pago_todo .pago_cuerpo .col2 .pagar .ok {
        width: 300px; }
    .pago_todo .pago_cuerpo .chip {
      position: absolute;
      width: 55px;
      height: 40px;
      background: #ffc107;
      border-radius: 7px;
      border: 0.3px solid black; }
      .pago_todo .pago_cuerpo .chip:after {
        content: '';
        display: block;
        width: 35px;
        height: 25px;
        border-radius: 4px;
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
        background: #f9f084; }

.body__imagen {
  background: url(../img/cuerpoFondo3-min.png); }

/* TITULO */
.section__servicios {
  margin-top: 200px;
  margin-bottom: 270px;
  background: #fff;
  border-radius: 30px;
  padding: 20px; }
  .section__servicios h2 {
    height: 100px;
    font-family: "Merienda", cursive;
    text-align: center;
    margin-top: 25px; }
  .section__servicios .section__tabla {
    background: #F4623A;
    text-align: center; }
    .section__servicios .section__tabla td {
      list-style: inside; }

.body__imagen {
  background: url(../img/cuerpoFondo3-min.png); }

/* TITULO*/
.section__actas {
  padding: 20px;
  margin-top: 200px;
  margin-bottom: 200px;
  background: #fff;
  border-radius: 30px;
  /* CARDS DE ARCHIVOS PDF */ }
  .section__actas h2 {
    font-family: "Merienda", cursive;
    text-align: center;
    margin-top: 25px; }
  .section__actas .solid {
    border-top: 2px solid #999; }
  .section__actas .card {
    border-bottom: 1px solid #3829F7;
    background: #F76464; }
    .section__actas .card .card-img-top {
      width: 100px;
      height: 170px;
      margin: auto; }
    .section__actas .card .card-title {
      color: #fff;
      border-bottom: 1px solid #3829F7; }
    .section__actas .card .card-text {
      color: #fff;
      border-bottom: 1px solid #3829F7; }

.body__imagen {
  background: url(../img/cuerpoFondo3-min.png); }

/* TITULO */
.section__contacto {
  margin-top: 200px;
  margin-bottom: 80px;
  background: #fff;
  border-radius: 25px;
  padding: 20px;
  background: #F4623A; }
  .section__contacto label {
    font-family: "roboto", sans-serif;
    margin-left: 5px; }
    .section__contacto label .fa-user {
      margin-right: 10px; }
    .section__contacto label .fa-envelope {
      margin-right: 10px; }
    .section__contacto label .fa-phone-alt {
      margin-right: 10px; }
    .section__contacto label .fa-building {
      margin-right: 10px; }
  .section__contacto h2 {
    font-style: italic;
    font-family: "Merienda", cursive;
    padding: 25px;
    text-align: center;
    margin-top: 25px; }
  .section__contacto .solid {
    border-top: 2px solid #000000; }

.footer__pie {
  width: 100%;
  background: #fff;
  margin-top: 10px; }

@media (min-width: 500px) {
  .header__cabecera {
    height: 100vh;
    min-height: 640px;
    padding-top: 72px;
    padding-bottom: 0; }
    .header__cabecera h1 {
      font-size: 20px; } }

@media (max-width: 530px) {
  .pago_todo .frente {
    padding-left: 42px !important;
    margin-left: 10px;
    left: 66px;
    width: 67% !important; }
  .pago_todo .chip {
    top: 79px;
    left: 11px; }
  .pago_todo .numero_tarjeta {
    top: 119px;
    left: 7px; }
  .pago_todo .nombreCompleto {
    left: 1px; }
  .pago_todo .fecha:after {
    left: 19px; }
  .pago_todo .fecha::before {
    margin-top: 0px;
    left: 13px; }
  .pago_todo .fecha_vence {
    font-size: 9px !important;
    margin-left: 38px !important;
    margin-top: 10px !important; }
  .pago_todo .modal-content {
    width: 92% !important; } }

@media (max-width: 992px) {
  .pago_todo .pago_cuerpo {
    flex-direction: column; } }

@media (min-width: 1200px) {
  .header__cabecera h1 {
    font-size: 16px; } }

@font-face {
  font-family: 'Optima-italic';
  font-style: normal;
  font-weight: normal;
  src: local("Optima-italic"), url("../fuente/Optima-italic.ttf") format("ttf"); }

.body__imagen {
  background: url(../img/cuerpoFondo3-min.png); }

/* MENU */
#menu {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
  background-color: #FFA07A;
  transition: background-color 0.2s ease; }
  #menu .navbar-brand {
    font-family: "Merriweather Sans", sans-serif;
    font-weight: 700;
    color: #fff; }
    #menu .navbar-brand:hover {
      color: #f4623a; }
  #menu .nav-item {
    font-family: "Merriweather Sans", sans-serif;
    font-weight: 700;
    font-size: 15px;
    padding: 12px; }
    #menu .nav-item .nav-link {
      color: #6C757D;
      background-image: linear-gradient(dodgerblue, dodgerblue);
      background-size: 0 5px, auto;
      background-repeat: no-repeat;
      background-position: center bottom;
      transition: all .2s ease-out; }
      #menu .nav-item .nav-link:hover {
        color: #F4623A;
        background-size: 100% 5px, auto; }

/* PÁRRAFO PRINCIPAL */
.header__cabecera {
  padding-top: 160px;
  padding-bottom: calc(160px - 72px);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover; }
  .header__cabecera h1 {
    font-size: 18px; }
  .header__cabecera .divider {
    background: #fff; }
  .header__cabecera .imagen {
    border-radius: 10px; }

/* NOTICIAS */
.novedades__noticias .noticias__primera .Pie_nota {
  position: absolute;
  padding: 20px 25px;
  left: 0px;
  bottom: 0px;
  color: #fff;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.4) 75%, #000000 100%); }
  .novedades__noticias .noticias__primera .Pie_nota h1 {
    font-size: 20px;
    text-decoration: underline; }
  .novedades__noticias .noticias__primera .Pie_nota h2 {
    font-size: 16px; }
  .novedades__noticias .noticias__primera .Pie_nota a {
    width: 150px;
    margin: auto;
    display: flex;
    justify-content: center; }

.border-bottom-blue {
  border-bottom: 1px solid #3829F7; }

.card {
  background: #000000;
  border-radius: 8px; }

.img-fluid-1 {
  margin-top: 12px;
  max-width: 50%; }

.seudo_noticias {
  border-radius: 20px; }
  .seudo_noticias h2 {
    font-family: "optima";
    font-style: italic;
    color: #fff;
    text-decoration: underline;
    text-align: center; }
  .seudo_noticias h5 {
    color: #fff;
    font-size: 16px; }

/* MODAL Y BOTÓN COVID */
.cartel {
  padding-top: 25px;
  text-align: center;
  margin: 50px;
  display: flex;
  justify-content: center; }
  .cartel .boton-s {
    box-shadow: 0 2px 5px 2px; }
    .cartel .boton-s a {
      color: #fff;
      text-decoration: none; }
  .cartel .fa-viruses {
    margin-right: 10px;
    animation-name: flotar;
    animation-duration: 1.5s;
    animation-iteration-count: infinite; }

@keyframes flotar {
  0% {
    transform: translateY(0%); }
  50% {
    transform: translateY(50%); }
  100% {
    transform: translateY(0%); } }
  .cartel .boton {
    box-shadow: 0 2px 5px 2px;
    margin-right: 80px;
    cursor: pointer; }
