.santa {
  background: #3ac6f4;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  position: relative;
  top: 50%;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: 0;
  margin-top: -60px; }
  .santa .nieve {
    width: 2px;
    height: 2px;
    background: white;
    border-radius: 50%;
    position: absolute;
    left: 18px;
    top: 44px; }
    .santa .nieve:after {
      width: 6px;
      height: 6px;
      content: "";
      display: inline-block;
      background: white;
      border-radius: 50%;
      position: absolute;
      top: -14px;
      left: 0px; }
    .santa .nieve:before {
      width: 4px;
      height: 4px;
      content: "";
      display: inline-block;
      background: white;
      border-radius: 50%;
      position: absolute;
      bottom: -12px;
      left: -11px; }
  .santa .sombrero {
    width: 64px;
    height: 31px;
    border-radius: 200px 200px 0 0;
    background: #ef4753;
    margin: 0 auto;
    top: -11px;
    position: relative;
    left: 5px;
    z-index: 20; }
    .santa .sombrero:after {
      width: 60px;
      height: 15px;
      border-radius: 20px;
      content: "";
      display: block;
      background: white;
      position: relative;
      top: 22px;
      left: -3px; }
  .santa .puntaSombrero {
    width: 13px;
    height: 32px;
    content: "";
    background: #ef4753;
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 15px;
    border-radius: 0px 11px 0px 0px; }
    .santa .puntaSombrero:after {
      width: 15px;
      height: 15px;
      border-radius: 50%;
      background: white;
      content: "";
      display: inline-block;
      top: 30px;
      position: absolute;
      left: 0px;
      z-index: 11; }
  .santa .cara {
    width: 54px;
    height: 57px;
    background: white;
    border-radius: 0px 0px 50px 50px;
    margin: 0 auto;
    position: relative;
    z-index: 20;
    top: -6px; }
    .santa .cara .ojos {
      background: #f1ddd5;
      width: 45px;
      height: 15px;
      margin: 0 auto;
      position: relative;
      left: -1px;
      text-align: center;
      top: 4px;
      padding-top: 0px; }
      .santa .cara .ojos:after, .santa .cara .ojos righteye {
        width: 8px;
        height: 6px;
        background: transparent;
        box-shadow: 0px -2px #793623;
        content: "";
        display: inline-block;
        margin: 0 auto;
        border-radius: 50%; }
      .santa .cara .ojos:before, .santa .cara .ojos lefteye {
        width: 8px;
        height: 6px;
        background: transparent;
        box-shadow: 0px -2px #793623;
        content: "";
        display: inline-block;
        margin: 0 auto;
        border-radius: 50%;
        margin-right: 5px; }
  .santa .boca {
    background: #a31f2b;
    border-radius: 50%;
    width: 6px;
    height: 6px;
    position: absolute;
    bottom: 20px;
    right: 17px; }
  .santa .cuerpo {
    width: 93px;
    height: 84px;
    background: #ef4753;
    border-radius: 90px 90px 0px 0px;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    margin: 0 auto;
    text-align: center;
    z-index: 10; }
    .santa .cuerpo:after {
      width: 5px;
      height: 5px;
      background: white;
      border-radius: 50%;
      display: inline-block;
      position: absolute;
      top: 68px;
      z-index: 50;
      content: "";
      left: 0;
      right: 0;
      margin: 0 auto; }
    .santa .cuerpo:before {
      width: 5px;
      height: 5px;
      background: white;
      border-radius: 50%;
      display: inline-block;
      position: absolute;
      top: 55px;
      z-index: 50;
      content: "";
      left: 0;
      right: 0;
      margin: 0 auto; }

.circulo {
  background: #a31f2b;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  z-index: 9;
  position: absolute;
  right: -6px;
  top: 12px; }
  .circulo:after {
    background: white;
    width: 40px;
    height: 40px;
    right: 0;
    top: 50px;
    content: "";
    border-radius: 50%; }

.desborde {
  overflow: hidden;
  width: 120px;
  height: 76px;
  border-radius: 0px 0px 105px 105px;
  position: absolute;
  left: 0;
  bottom: 0; }

.mensaje {
  width: 250px;
  font-size: 35px;
  margin: auto;
  color: white;
  font-family: 'Mountains of Christmas'; }

.footer__pie {
  width: 100%;
  background: #fff; }

.footer__pie {
  width: 100%;
  background: #fff; }

.body__imagen {
  background: url(../img/cuerpoFondo3-min.png); }

.section__servicios {
  margin-top: 200px;
  margin-bottom: 270px;
  background: #fff;
  border-radius: 30px;
  padding: 20px; }
  .section__servicios h2 {
    height: 100px;
    font-family: "Merienda", cursive;
    text-align: center;
    margin-top: 25px; }
  .section__servicios .section__tabla {
    background: #F4623A;
    text-align: center; }
    .section__servicios .section__tabla td {
      list-style: inside; }

.body__imagen {
  background: url(../img/cuerpoFondo3-min.png); }

.section__expensas {
  margin-top: 200px;
  margin-bottom: 200px;
  background: #fff;
  border-radius: 30px;
  padding: 20px; }
  .section__expensas h2 {
    height: 100px;
    font-family: "Merienda", cursive;
    text-align: center;
    margin-top: 25px; }
  .section__expensas .section__tabla {
    background: #F4623A;
    text-align: center; }
    .section__expensas .section__tabla td {
      list-style: inside; }
      .section__expensas .section__tabla td a {
        color: black; }
        .section__expensas .section__tabla td a:hover {
          color: #fff; }

.footer__pie {
  width: 100%;
  background: #fff; }

.body__imagen {
  background: url(../img/cuerpoFondo3-min.png); }

.section__servicios {
  margin-top: 200px;
  margin-bottom: 270px;
  background: #fff;
  border-radius: 30px;
  padding: 20px; }
  .section__servicios h2 {
    height: 100px;
    font-family: "Merienda", cursive;
    text-align: center;
    margin-top: 25px; }
  .section__servicios .section__tabla {
    background: #F4623A;
    text-align: center; }
    .section__servicios .section__tabla td {
      list-style: inside; }

.footer__pie {
  width: 100%;
  background: #fff; }

.body__imagen {
  background: url(../img/cuerpoFondo3-min.png); }

.section__actas {
  padding: 20px;
  margin-top: 200px;
  margin-bottom: 200px;
  background: #fff;
  border-radius: 30px; }
  .section__actas h2 {
    height: 100px;
    font-family: "Merienda", cursive;
    text-align: center;
    margin-top: 25px; }
  .section__actas .solid {
    border-top: 2px solid #999; }

.footer__pie {
  width: 100%;
  background: #fff; }

.body__imagen {
  background: url(../img/cuerpoFondo3-min.png); }

.section__contacto {
  margin-top: 200px;
  margin-bottom: 80px;
  background: #fff;
  border-radius: 25px;
  padding: 20px;
  background: #F4623A; }
  .section__contacto label {
    font-family: "roboto", sans-serif;
    margin-left: 5px; }
    .section__contacto label .fa-user {
      margin-right: 10px; }
    .section__contacto label .fa-envelope {
      margin-right: 10px; }
    .section__contacto label .fa-phone-alt {
      margin-right: 10px; }
    .section__contacto label .fa-building {
      margin-right: 10px; }
  .section__contacto h2 {
    font-style: italic;
    font-family: "Merienda", cursive;
    padding: 25px;
    text-align: center;
    margin-top: 25px; }
  .section__contacto .solid {
    border-top: 2px solid #000000; }

.footer__pie {
  width: 100%;
  background: #fff; }

@media (min-width: 250px) {
  .novedades__noticias #carrusel {
    height: 800px; } }

@media (min-width: 500px) {
  .header__cabecera {
    height: 100vh;
    min-height: 640px;
    padding-top: 72px;
    padding-bottom: 0; }
    .header__cabecera h1 {
      font-size: 20px; }
  .novedades__noticias #carrusel {
    height: 750px; }
    .novedades__noticias #carrusel img {
      width: 500px;
      height: 378px;
      border-radius: 20px; } }

@media (min-width: 1200px) {
  .header__cabecera h1 {
    font-size: 16px; } }

.body__imagen {
  background: url(../img/cuerpoFondo3-min.png); }

#menu {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
  background-color: #FFA07A;
  transition: background-color 0.2s ease; }
  #menu .navbar-brand {
    font-family: "Merriweather Sans", sans-serif;
    font-weight: 700;
    color: #fff; }
    #menu .navbar-brand:hover {
      color: #f4623a; }
  #menu .nav-item {
    font-family: "Merriweather Sans", sans-serif;
    font-weight: 700;
    font-size: 15px;
    padding: 12px; }
    #menu .nav-item .nav-link {
      color: #6C757D;
      background-image: linear-gradient(dodgerblue, dodgerblue);
      background-size: 0 5px, auto;
      background-repeat: no-repeat;
      background-position: center bottom;
      transition: all .2s ease-out; }
      #menu .nav-item .nav-link:hover {
        color: #F4623A;
        background-size: 100% 5px, auto; }

.header__cabecera {
  padding-top: 160px;
  padding-bottom: calc(160px - 72px);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover; }
  .header__cabecera h1 {
    font-size: 18px; }
  .header__cabecera .divider {
    background: #fff; }
  .header__cabecera .imagen {
    border-radius: 10px; }

.novedades__noticias {
  padding-top: 25px;
  background: #F4623A;
  margin: 50px;
  border-radius: 35px;
  /*.noticia__parrafo1,
  .noticia__parrafo2,
  .noticia__parrafo3{
    font-family: 'Overpass', sans-serif;
  font-style: italic;
  font-size: 17px;
  text-align: center;
  margin: auto;
  margin-top: 12px;
  }*/ }
  .novedades__noticias h2 {
    margin: auto;
    color: white;
    text-decoration: underline;
    font-family: 'Raleway', sans-serif;
    font-size: 42px;
    text-align: center;
    padding: 12px;
    margin-top: 25px;
    margin-bottom: 50px; }
  .novedades__noticias .noticia__parrafo1 {
    font-family: 'Overpass', sans-serif;
    font-style: italic;
    font-size: 17px;
    text-align: center;
    margin: auto;
    margin-top: 12px; }
  .novedades__noticias .noticia__parrafo2 {
    font-family: 'Overpass', sans-serif;
    font-style: italic;
    font-size: 17px;
    text-align: center;
    margin: auto;
    margin-top: 12px; }
  .novedades__noticias .noticia__parrafo3 {
    font-family: 'Overpass', sans-serif;
    font-style: italic;
    font-size: 17px;
    text-align: center;
    margin: auto;
    margin-top: 12px; }
  .novedades__noticias a {
    width: 150px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 25px;
    display: flex;
    justify-content: center; }

#carrusel {
  color: white;
  height: 600px;
  text-align: center;
  font-style: italic; }
  #carrusel img {
    width: 300px;
    height: 278px;
    border-radius: 20px; }

.cartel {
  text-align: center;
  margin: 50px;
  display: flex;
  justify-content: center; }
  .cartel .boton-s {
    box-shadow: 0 2px 5px 2px; }
    .cartel .boton-s a {
      color: #fff;
      text-decoration: none; }
  .cartel .fa-viruses {
    margin-right: 10px;
    animation-name: flotar;
    animation-duration: 1.5s;
    animation-iteration-count: infinite; }

@keyframes flotar {
  0% {
    transform: translateY(0%); }
  50% {
    transform: translateY(50%); }
  100% {
    transform: translateY(0%); } }
  .cartel .boton {
    box-shadow: 0 2px 5px 2px;
    margin-right: 80px; }
