@import "var";
@import "footer";
@import "logo";
.body__imagen{
  background:$fondo;
}
.section__actas {
	padding: 20px;
	margin-top: 200px;
	margin-bottom: 200px;
	background:#fff;
	border-radius: 30px;
	h2{
	    font-family: "Merienda", cursive;
	    text-align: center;
	    margin-top: 25px;
	}
	.solid{
		border-top: 2px solid #999;
	}
	.card{
		border: 1px solid #3829F7;
		background:#F76464;
	
		.card-img-top{
			width: 100px;
			height: 170px;
			margin: auto;
		}
		.card-title{
			color:white;
			border-top:1px solid #3829F7;
		}
		.card-text{
			color:white;
			border-bottom:1px solid #3829F7;
		}
	}
}