@import "var";

.body__imagen{
  background:$fondo;
}
      // TITULO
.section__actas {
	padding: 20px;
	margin-top: 200px;
	margin-bottom: 200px;
	background:#fff;
	border-radius: 30px;
	h2{
	    font-family: "Merienda", cursive;
	    text-align: center;
	    margin-top: 25px;
	}
	.solid{
		border-top: 2px solid #999;
	}
	         // CARDS DE ARCHIVOS PDF
	.card{
		@include bordes-solido;
		background:#F76464;
	
		.card-img-top{
			width: 100px;
			height: 170px;
			margin: auto;
		}
		.card-title{
			color:$letra-color;
			@include bordes-solido;
		}
		.card-text{
			color:$letra-color;
			@include bordes-solido;
		}
	}
}