@import "var";

@import "servicios";
.body__imagen{
  background:$fondo;
}
.section__expensas{
	margin-top: 200px;
	margin-bottom: 200px;
	background:#fff;
	border-radius: 30px;
	padding: 20px;

	 h2{
		@include h2(100px, $tipografia, center, 25px);
	}
	.section__tabla{
		@include tabla(#F4623A,center);

		td{
			list-style:inside;

			a{
				color:black;
				&:hover{
					color:#fff;
				}	
			}
		}
	}	
}