@media (min-width: 350px){
  .novedades__noticias{
    #carrusel{
      height:1050px;
      img{
        width: 250px;
        height: 378px;
        border-radius:20px;
      }
    }
  }
}

@media (min-width: 500px) {
  .header__cabecera {
    height: 100vh;
    min-height: 640px;
    padding-top: 72px;
    padding-bottom: 0;

     h1 {
      font-size: 20px;
    }
  }
    .novedades__noticias{
      margin:50px;
      #carrusel{
  	   height:750px;
       img{
        width: 500px;
        height: 378px;
        border-radius: 20px;
       }
      }
    }
}
@media (min-width: 1200px) {
  .header__cabecera{ 
   h1 {
     font-size: 16px;
    }
  }
}