@import "var";
@import "santa";
@import "expensas";
@import "servicios";
@import "actas";
@import "contacto";
@import "footer";
@import "media";
@font-face {
    font-family: 'Optima-italic';
    font-style: normal;
    font-weight: normal;
    src: local('Optima-italic'), url('../fuente/Optima-italic.ttf') format('ttf');
}
.body__imagen{
  background:$fondo;
}
             // MENU
#menu {
  	box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
  	background-color: #FFA07A;
  	transition: background-color 0.2s ease;

  .navbar-brand {
  	font-family: "Merriweather Sans", sans-serif;
  	font-weight: 700;
  	color: #fff;
    &:hover{
    color:#f4623a; 
    }
  }
  .nav-item{ 
  	font-family: "Merriweather Sans", sans-serif;
  	font-weight: 700;
    font-size: 15px;
    padding: 12px;
     
      .nav-link {
          color: #6C757D;
  	     background-image: linear-gradient(dodgerblue, dodgerblue);
         background-size: 0 5px, auto;
    	   background-repeat: no-repeat;
    	   background-position: center bottom;
    	   transition: all .2s ease-out;
        &:hover{
          color: $color;
          background-size: 100% 5px, auto;
        }
      }
    } 
}
             //PARRAFO PRINCIPAL
.header__cabecera {
    padding-top: 160px;
    padding-bottom: calc(160px - 72px);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;

  h1 {
    font-size: 18px;
  }
  .divider{
  background: #fff;
  }

  .imagen{
    border-radius:10px;
  }
}
                // NOTICIAS
.novedades__noticias{
  .noticias__primera{
    .Pie_nota {
    position: absolute;
    padding: 20px 25px;
    left: 0px;
    bottom: 0px;
    color: $letra-color;
    background: linear-gradient(to bottom, rgba(0,0, 0, 0.1) 0%, rgba(0, 0, 0, 0.4) 75%, #000000 100%);
      h1{
      font-size: 20px;
      text-decoration: underline;
      }
      h2{
      font-size: 16px;
      }
      a{
      width: 150px;
      margin: auto;
      display: flex;
      justify-content: center;
      }
    }
  }
}
.border-bottom-blue{
  @include bordes-solido;
}
.card{
  background:#000000;
  border-radius:8px;
}
.img-fluid-1{
  margin-top: 12px;
  max-width: ($img-fluid/2);
}
.seudo_noticias{
  border-radius:20px;

  h2{
    font-family: "optima";
    font-style: italic;
    color:$letra-color;
    text-decoration: underline;
    text-align: center;
  } 
  h5{
    color: $letra-color;
    font-size: 16px;
  }
}
              // MODAL Y BOTON COVID
.cartel{
  padding-top:25px;
  text-align: center;
  margin: 50px;
  display: flex;
  justify-content:center;

    .boton-s{
      box-shadow: 0 2px 5px 2px;

      a{
        color:$letra-color;
        text-decoration: none;
      }
    }
      .fa-viruses{
        margin-right: 10px;
        animation-name: flotar;
        animation-duration: 1.5s;
        animation-iteration-count: infinite;
        @keyframes flotar {
          0% {
        transform: translateY(0%);
          }
          50% {
        transform: translateY(50%);
          }
          100% {
        transform: translateY(0%);
          }
        }
      }
    .boton{
    box-shadow: 0 2px 5px 2px;
    margin-right: 80px;
  }
}

  



